<!DOCTYPE HTML>

<html>
    <head>
        <script src="https://use.fontawesome.com/e17edf80d0.js"></script>
        <meta charset="utf-8" />
        <title>Vehicle - @ViewBag.Title</title>
        <link rel="stylesheet" href="~/Content/css/common.css" />
        <link rel="stylesheet" href="~/Content/css/header_footer.css" />
        <link rel="stylesheet" href="~/Content/css/form.css" />
        <link rel="stylesheet" href="~/Content/css/Table.css" />
        <link rel="stylesheet" href="~/Content/css/button.css" />
        @*<link rel="stylesheet" href="~/Content/css/fontawesome-free-5.0.4/web-fonts-with-css/css/fontawesome-all.min.css" />*@
        <style>

            .box {
                box-shadow: 0px 16px 32px #aaa,
                    0 0 4px #777;
                display: inline-block;
                margin-right: 4%;
                width: 45%;
                overflow: hidden;
                padding: 0;
                border-collapse: collapse;
                vertical-align: top;
            }

            .box:last-child{
                margin-right: 0px;
            }

            .box .box-title {
                border-bottom: 1px solid rgb(41, 57, 85);
                padding: 0.85em 2em;
                text-align: center;
                font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                color: white;
                background-color: rgba(41, 57, 85, 0.75);
                text-transform: uppercase;
            }

            .box .box-body {
                text-align: center;
                padding: 0.85em 2em;
            }

        </style>
    </head>
    <body>
        <header class="header">
            <div class="inline-block">
                <img src="~/Content/Images/brand-logo.png" style="width:248px;height:109px;" alt="brand logo" />
            </div>
            <div class="inline-block nav-container">
                <nav class="nav-main">
                    <ul>
                        <li>
                            <a href="@Url.Action("Index", "Home")" class="active">Home</a>
                        </li>
                        <li>
                            <a href="#">About Us</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Contact", "Home")">Contact Us</a>
                        </li>
                        <li>
                            <a href="#">Book Online</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Login", "Account")">Members Area</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="nav-container nav-sub-container">
                <nav class="nav-sub">
                    <ul>
                        <li>
                            <a href="#">Rentals</a>
                        </li>
                        <li>
                            <a href="#">Maintenance</a>
                        </li>
                        <li>
                            <a href="#">Reparirs</a>
                        </li>
                        <li>
                            <a href="#">Body Works</a>
                        </li>
                        <li>
                            <a href="#">Parts</a>
                        </li>
                        <li>
                            <a href="#">Card Processing</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </header>

        <div class="main-content">
            @RenderBody()
        </div>

        <footer>
            <div class="inline-block">
                <img src="~/Content/Images/brand-logo.png" style="width:248px;height:109px;" alt="brand logo" />
            </div>
            <div class="nav-container nav-sub-container">
                <nav class="nav-sub">
                    <ul>
                        <li>
                            <a href="#">Rentals</a>
                        </li>
                        <li>
                            <a href="#">Maintenance</a>
                        </li>
                        <li>
                            <a href="#">Reparirs</a>
                        </li>
                        <li>
                            <a href="#">Body Works</a>
                        </li>
                        <li>
                            <a href="#">Parts</a>
                        </li>
                        <li>
                            <a href="#">Card Processing</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </footer>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
    </body>
</html>