@model IEnumerable<VehicleRenting.Models.Driver>

@{
    ViewBag.Title = "DriverIndex";
}

<header class="title text-left">
    <h1>List of Drivers</h1>
    <hr />
</header>

<p>
    @Html.ActionLink("Create New", "CreateDriver")
</p>
<table class="table">
    <thead>
        <tr>
            <th>Sr.</th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AspNetUser.Email)
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>

        @{ int count = 0; }

@foreach (var item in Model) {
    <tr>
        <td>@(++count)</td>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AspNetUser.Email)
        </td>
        <td>
            <a title="Edit Details" href="@Url.Action("EditDriver", new { id = item.Id })">
                <span class="fa fa-pencil-square-o"></span>
            </a>

            <a title="View Details" href="@Url.Action("DriverDetails", new { id = item.Id })">
                <span class="fa fa-file-text-o"></span>
            </a>

            <a title="Delete" href="@Url.Action("DeleteDriver", new { id = item.Id })">
                <span class="fa fa fa-trash-o"></span>
            </a>
        </td>
    </tr>
}
        </tbody>

</table>

@section Scripts {
    <script>
        $('#link-driver').addClass('active');
    </script>
}