
@{
    ViewBag.Title = "Admin Home";
}

<header class="title">
    <h1>Admin Home</h1>
    <hr />
</header>


@*@Html.ActionLink("Contracts", "ContractIndex")
<br />
@Html.ActionLink("Proprietors", "ProprietorIndex")
<br />
@Html.ActionLink("Vehicles", "VehicleIndex")
<br />
@Html.ActionLink("Drivers", "DriverIndex")
<br />
@Html.ActionLink("Reported Issues", "ReportedIssuesList")
<br />
@Html.ActionLink("Given Notices", "NoticeList")*@

@section Scripts {
    <script>
        $('#link-home').addClass('active');
    </script>
}