@model VehicleRenting.Models.Issue

@{
    ViewBag.Title = "IssueDetails";
}

<header class="title text-left">
    <h1>
        Driver's Issue
    </h1>
    <hr />
</header>

<div>
    <dl>
        <dt>
            Ticket ID
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Subject)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Subject)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IssueType.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IssueType.Title)
        </dd>

        <dt>
            Status
        </dt>

        <dd>
            @(VehicleRenting.App_Start.ApplicationWideConstants.GetIssueStatus(Model.status))
        </dd>

        <dt>
            Report Time
        </dt>

        <dd>
            @Model.reportdate
        </dd>

    </dl>
</div>
<br />
@Html.ActionLink("Close Issue", "CloseIssue", new { id = Model.Id }, new { @class = "btn btn-primary" })
<p>
    <span class="fa fa-arrow-circle-left"></span><a href="@Url.Action("ReportedIssueList")">Back to List</a>
</p>
