@using VehicleRenting.Models;
@model Notice

@{
    ViewBag.Title = "IssueDetails";
    var replyExists = (bool)ViewBag.ReplyExists;
    noticereply reply = replyExists ? (noticereply)ViewBag.Reply : null;
}

<header class="title text-left">
    <h1>
        Notice Details
    </h1>
    <hr />
</header>

<div>
    <dl>
        <dt>
            Ticket ID
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CheckoutDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CheckoutDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NoticeDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NoticeDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Reason)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Reason)
        </dd>

        <dt>
            Driver
        </dt>

        <dd>
            @Model.Driver.AspNetUser.UserName
        </dd>

    </dl>
</div>
<hr />

<div>
    <div>
        @if(!replyExists)
        {
            @Html.ActionLink("Reply to notice", "ReplyToNotice", new { id = Model.Id })
        }
        else
        {
            <p>You have already replied to this notice.</p>
        }
    </div>
</div>

<br />
<p>
    <span class="fa fa-arrow-circle-left"></span><a href="@Url.Action("NoticeList")">Back to List</a>
</p>
