@model IEnumerable<VehicleRenting.Models.Notice>

@{
    ViewBag.Title = "ReportedIssuesList";
}

<header class="title text-left">
    <h1>
        Notices given by the drivers
    </h1>
    <hr />
</header>

<table class="table">
    <thead>
        <tr>
            <th>
                Sr.
            </th>
            <th>
                Ticket Id
            </th>
            <th>
                Notice Date
            </th>
            <th>
                Checkout Date
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{ int count = 0; }
        @foreach (var item in Model)
        {
            <tr>
                <td>@(++count)</td>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NoticeDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CheckoutDate)
                </td>
                <td>
                    @Html.ActionLink("Details", "NoticeDetails", new { id = item.Id })
                </td>
            </tr>
        }

    </tbody>

</table>
