@model IEnumerable<VehicleRenting.Models.Vehicle>

@{
    ViewBag.Title = "VehicleIndex";
}

<header class="title text-left">
    <h1>Vehicles</h1>
    <hr />
</header>

<p>
    @Html.ActionLink("Create New", "CreateVehicle")
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Sr.
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RegistrationNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VehicleColor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RentPerWeek)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AvailableDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.proprietor.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@{ int count = 0; }
@foreach (var item in Model)
{
    <tr>
        <td>
            @(++count)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RegistrationNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VehicleColor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RentPerWeek)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AvailableDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.proprietor.Name)
        </td>
        <td>
            <a title="Edit Details" href="@Url.Action("EditVehicle", new { id = item.Id })">
                <span class="fa fa-pencil-square-o"></span>
            </a>

            <a title="View Details" href="@Url.Action("VehicleDetails", new { id = item.Id })">
                <span class="fa fa-file-text-o"></span>
            </a>

            <a title="Delete" href="@Url.Action("DeleteVehicle", new { id = item.Id })">
                <span class="fa fa fa-trash-o"></span>
            </a>
        </td>
    </tr>
}
    </tbody>

</table>

@section Scripts {
    <script>
        $('#link-vehicle').addClass('active');
    </script>
}