@using VehicleRenting.Models;
@model Notice

@{
    ViewBag.Title = "IssueDetails";
    var replyExists = (bool)ViewBag.ReplyExists;
    noticereply reply = replyExists ? (noticereply)ViewBag.Reply : null;
}

<header class="title text-left">
    <h1>
        Your notice
    </h1>
    <hr />
</header>

<div>
    <dl>
        <dt>
            Ticket ID
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CheckoutDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CheckoutDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NoticeDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NoticeDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Reason)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Reason)
        </dd>

    </dl>
</div>

<hr />

<div>
    <h2>Support Response</h2>
    <hr />
    <div>
        @if (!replyExists)
        {
            <p class="text-danger">There is no response from support yet. It'll soon be available at the earliest possible.</p>
        }
        else
        {
            <p><b>Support has replied to your notice at <i>@reply.replydate</i></b></p>
            <p style="padding-left:2em; text-align: justify; font-family: monospace sans-serif">
                @reply.reply
            </p>
        }
    </div>
</div>

<br />


<p>
    @Html.ActionLink("Back to List", "Index")
</p>
